body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    width: 100dvw;
    height: 100dvh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #333;
    padding: 30px;
    text-align: center;
    height: 5rem;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vh;
}

nav a:hover {
    text-decoration: underline;
}

.content,
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    font-size: 30px;
    height: auto;
}

h1 {
    font-size: 4vh;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 2vh;
    max-width: 50vh;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    font-size: 2vh;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #555;
}

.footericons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #333;
    padding: 25px 0;
}

.footericon {
    height: 3vh;
    filter: invert(1);
}

.footericon-link {
    display: flex;
    text-decoration: none;
}

.footercopyright {
    font-size: 1.5vh;
    color: white;
}

form {
    max-width: 40vh;
}